# Created by .gitignore support plugin (hsz.mobi)
/.idea
*.sw[op]

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# PyBuilder
target/
